@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root {
    --clr--white: #f5f1de;
    --clr--greenlight: #859970;
    --clr-greenmiddle: #406346;
    --clr-greendark: #25433c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}